.banner{
    background-color: azure;
    padding:20px;
    text-align:centre;
    
}
.row::after{
    content:"";
    display:block;
    clear:both;
}
.content{
    float:left;
    
}
.content{
    float:left;
    width:66.66%;
    padding:10px;
    
}
.side_bar{
    float: left;
    width:33.33%;
    padding:15px;
}
